
body {
    background: burlywood;
}

div.container {

}

div.col-lg-6.colMiddle {
  margin: 0 10px 0 10px;
  width: 48%;
}

div.col-lg-6 {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 30px;
}

div.col-lg-3.colLeft {
}

div.col-lg-6.colMiddle {
}﻿﻿

div.col-lg-3.colRight {
}

button.btn.btn-default {
  margin: 0 10px 10px 0;
  width: inherit;
}

form.col-md-12 {
  border: 1px solid;
  border-radius: 10px;
  padding: 10px 10px 0 10px;
}

div.row.modal-body {
  text-align: center;
}

button.btn.btn-default.btn-popup {
  width: 100%;
}


ul.nav.nav-tabs {
  display: ;
}

div.form-group {
  margin-top: 20px;
}

button.btn.btn-default.addChamp {
  width: initial;
}

div.modal-header.row {
  border-bottom: none;
}

section.page-header {
  background: brown;
height: 71px;
}
