
body {

  background: #417142;
  /*
  background-image: url('../img/fern.jpg');
  */
  background-repeat: no-repeat;

}

.btn-default {
  background-color: #5bbd5c;
}

div.container {

}

div.col-lg-6.colMiddle {
  margin: 0 10px 0 10px;
  width: 48%;
}

div.col-lg-6 {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 30px;
}

div.col-lg-3.colLeft {
}

div.col-lg-6.colMiddle {
}﻿﻿

div.col-lg-3.colRight {
}

button.btn.btn-default {
  margin: 0 10px 10px 0;
  width: inherit;
  background: #00A658;
  color:#e0e0d1;
}

form.col-md-12 {
  border: 1px solid;
  border-radius: 10px;
  padding: 10px 10px 0 10px;
}

div.row.modal-body {
  text-align: center;
}

button.btn.btn-default.btn-popup {
  width: 100%;
}


ul.nav.nav-tabs {
  margin-left: -13px;
}

div.form-group {
  margin-top: 20px;
}

button.btn.btn-default.deleteChamp,
button.btn.btn-default.addChamp,
button.btn.btn-default.playChamp {
  width: initial;
  margin: 0 0 0 -20px;
  height: 34px;
}

div.modal-header.row {
  border-bottom: none;
}

section.page-header {
  background: #d6d4d4;
  height: 70px;
}

#affichageqr > div > canvas {
  width: inherit;
}

#affichageqr > div > img {
  width: inherit;
  margin-bottom: 10px;
}

#saveFamily,
#setNameQRCode,
#setImportedFile {
  margin-bottom: 0;
}

textarea {
  resize: vertical;
}

body > div > section.row > div > div.col-lg-3.colLeft > form > div:nth-child(1) > div > ul {
  margin: -10px 0 0 136px;
}

input[type="image"] {
  width: 20px;
}

div:nth-child(2) > div.col-md-3.text-center > button,
#nameFamily {
  width: initial;
}

#nameFamily {
  margin: 0 0 13px -13px;
  display: none;
}

#content-form > div:nth-child(2) > div:nth-child(1) {
  color: white;
}
#braille {
  width: inherit;
}

body > div > section.row > div > div.col-lg-6.colMiddle > ul > li.menu > a > input[type="image"] {
  margin: 0 0 -5px 5px;
}

li.active {
  border: 1px solid gray;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

body > div > section.row > div > div.col-lg-6.colMiddle > ul > li.active > a {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0;
}
