<div id="info-audio" class="info-content">
  <h5><a href="#copyLink">Copier le lien téléchargeable de la musique</a></h5>
  <div id="copyLink" class="info-content">
    <h6><a href="#google">Google Drive</a></h6>
    <div id="google" class="info-content">
      <ul class="list components">
        <li>
          Aller sur internet, se rendre sur son compte Google Drive (https://drive.google.com), se connecter
          éventuellement
        </li>
        <li>
          Faire clic-droit sur le fichier audio en question
        </li>
        <li>
          Cliquer sur "Obtenir le lien partageable"
        </li>
        <li>
          Choisir "Lecteur" pour "Tous les utilisateurs disposant du lien"
        </li>
        <li>
          Copier le lien
        </li>
        <li>
          Revenir sur l'application QRLudo
        </li>

      </ul>
    </div>

    <h6><a href="#dropbox">Dropbox</a></h6>
    <div id="dropbox" class="info-content">
      <ul class="list components">
        <li>
          Aller sur internet, se rendre sur son compte Dropbox (https://www.dropbox.com), se connecter éventuellement
        </li>
        <li>
          Survoller avec la souris le fichier audio en question
        </li>
        <li>
          Cliquer sur "Partager", un popup va s'ouvrir
        </li>
        <li>
          En bas à droite du popup ouvert, cliquer sur "Créer un lien"
        </li>
        <li>
          Toujours sur le popup, cliquer sur "Copier le lien" en bas à droite
        </li>
        <li>
          Revenir sur l'application QRLudo
        </li>

      </ul>
    </div>
  </div>
</div>