<!-- contenu page multiple -->
<!--Panel-->
<div class="col-sm-8 card">
  <div class="alert alert-success" role="alert" id="alertSauvegardeOk" style="display:none;">
    Vos paramètres ont bien été enregistrés.
  </div>
  <div class="card-body">
    <div id="messages"></div>
    <h6 class="card-title"></h6>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#qrCodes">Paramètres</a>
      </li>
    </ul>

    <div class="input-group  btn-unique-xl">
      <label class="col-sm-12 control-label" style="color:#28a745;padding-top:10px;">Couleur par défaut des QR
        codes</label>
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fa fa-palette"></i></div>
      </div>
      <input type="color" id="defaultColor" value="#000000">
    </div>

    <div class="input-group  btn-unique-xl">
      <label class="col-sm-12 control-label" style="color:#28a745;padding-top:10px;">Message par défaut lorsque la bonne
        réponse est trouvée</label>
      <input type="text" class="form-control control-label col-md-6" style="padding-top:10px;"
        id="defaultBonneReponse" />
    </div>

  </div>

  <div class="card-footer form-inline">
    <button type="submit" class="btn btn-outline-success" id="save"><i class="fa fa-eraser"></i>Sauvegarder</button>
  </div>
</div>
<script>

  $().ready(function () {
    var settings = remoteElectron.require("electron-settings");

    if (settings.hasSync('defaultColor')) {
      $("#defaultColor").val(settings.getSync("defaultColor"));
    }
    /*
        if(!settings.has('defaultBonneReponse')){
          settings.set("defaultBonneReponse", "Bravo, vous avez trouvé la bonne réponse");
        }
    */
    $("#defaultBonneReponse").val(settings.getSync("defaultBonneReponse"));

    $("#save").on("click", function () {
      settings.setSync("defaultColor", $("#defaultColor").val());

      settings.setSync("defaultBonneReponse", $("#defaultBonneReponse").val());
      $("#alertSauvegardeOk").show();
    });
  });

</script>