<!-- contenu page ensemble -->
<!--Panel-->
<div class="col-sm-8 card">
    <div class="card-body">
        <h6 class="card-title"></h6>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#qrCodes">QR - Ensemble</a>
            </li>
        </ul>
        <div class="tab-content scrollbar-success" id="dropZone" style="height:300px; overflow-y: scroll; margin-top:15px;">
            <div id="txtZone" class="tab-pane fade in active show">
            </div>
        </div>
    </div>

    <div class="card-footer">
        <!--<label class="btn btn-outline-success">-->
        <!--Parcourir&hellip; <input type="file" style="display: none;"> -->
        <!--</label>-->
        <button type="submit" class="btn btn-outline-success" id="empty"><i class="fa fa-eraser"></i>Vider</button>
        <button type="submit" class="btn btn-outline-success" id="preview"><i class="fa fa-cogs"></i>&nbsp;&nbsp;Générer</button>
    </div>
</div>

<!--/.Panel-->
<!--Panel -> zone pour afficher le QrCode produit -->
<div class="col-sm-4 card" id="qr-zone">
    <script>
        $("#qr-zone").load("Views/QR-zone.html");
    </script>
</div>
<!--/.Panel-->
<!-- Fin contenu page ensemble -->

<script>
    const {
        QRCodeUnique
    } = require(`${__dirname}/Model/QRCodeJson`);

    var dropper = document.getElementById('dropZone');
    var txtZone = document.getElementById('txtZone');
    var files = [];
    var qrCodes = [];

    dropper.ondragenter = function(e){
        console.log("dragenter");
    };
    dropper.ondragleave = function(e){
        console.log("dragleave");
    };
    dropper.ondragover = function(e){
        e.preventDefault();
    };

    dropper.ondrop = function(e){
        e.preventDefault();

        var bool = false;

        for(var i = 0; i < e.dataTransfer.files.length; i++){

                for(var j = 0; j < files.length; j++){
                    if(e.dataTransfer.files[i].name == files[j].name){
                        bool = true;
                    }
                }

                if(bool){
                    console.log("Fichier de même nom");
                    bool = false;
                } else {
                    files.push(e.dataTransfer.files[i]);
                    var div = document.createElement("DIV");
                    var textDiv = document.createTextNode(files[i].name);
                    var button = document.createElement("BUTTON");

                    div.id = files[i].name;
                    button.addEventListener("click", clickFunction);
                    div.appendChild(button);
                    div.appendChild(textDiv);
                    txtZone.appendChild(div);
                }
        }

        console.log(files);

        for(var i = 0; i < files.length; i++){

            var fileReader = new FileReader();

            fileReader.readAsDataURL(files[i]);

            fileReader.addEventListener('load', function (e) {
                console.log("dataUrlSize:", e.target.result.length);
                var qrCodeXml = QRCodeLoader.__traiterImage(e.target.result);
                var qrCodeJson = QRCodeLoader.parseXMLtoJson(qrCodeXml);
                qrCodes.push(qrCodeJson);
            });
        }
    };

    function clickFunction(){
        var id = this.parentNode;
        var arrayTmp = [];
        console.log(id.id);
        console.log(txtZone.childElementCount);

        for(var i = 1; i <= txtZone.childElementCount; i++){
            if(txtZone.childNodes[i].id == id.id){
                txtZone.removeChild(txtZone.childNodes[i]);
            }
        }

        for(var i = 0; i < files.length; i++){
            if(files[i].name != id.id){
                arrayTmp.push(files[i]);
            }
        }

        files = arrayTmp;
    }

    $("#preview").click(function () {

        for(var i = 0; i < qrCodes.length; i++){
            console.log(qrCodes[i].getData());
        }

        var qrCodeEnsemble = new QRCodeEnsemble();

        for(var i = 0; i < qrCodes.length; i++){
            qrCodeEnsemble.ajouterQrCode(qrCodes[i]);
        }

        /*var facade = new FacadeController();
        let div = $('#qrView')[0];
        facade.genererQRCode(div,qrCodeEnsemble);*/
        //qrCodeEnsemble.ajouterLiensContenus()
        /*for(var i = 0; i < qrCodes[0].getTailleContenu(); i++){
            if (qrCodes[0].getTypeContenu(i) == DictionnaireXml.getTagTexte()){
                //createItemContent(null, qrCodes[0].getTexte(i));
                console.log(qrCodes[0].getTexte(i));
            } else if (qrCodes[0].getTypeContenu(i) == DictionnaireXml.getTagFichier()){
                // appel de selectMusic pour créer un chap input de music
                //selectMusic(null, [qrcode.getUrlFichier(i), qrcode.getNomFichier(qrcode.getUrlFichier(i))]);
                console.log(qrCodes[0].getUrlFichier(i));
                console.log(qrCodes[0].getNomFichier(qrCodes[0].getUrlFichier(i)));
            }
        }*/
    });

    $("#empty").click(function () {
        for(var i = txtZone.childElementCount; i > 0; i--){
            txtZone.removeChild(txtZone.firstElementChild);
            files.pop();
        }
    });
</script>