<!-- contenu page ensemble -->
<!--Panel-->
<div class="col-sm-8 card">
    <div class="card-body">
        <h6 class="card-title"></h6>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#qrCodes">QR - Ensemble</a>
            </li>
        </ul>
        <div class="tab-content scrollbar-success" id="dropZone" style="height:300px; overflow-y: scroll; margin-top:15px;">
            <div id="txtZone" class="tab-pane fade in active show ">
            </div>
        </div>
    </div>

    <div class="card-footer">
        <!--<label class="btn btn-outline-success">-->
        <!--Parcourir&hellip; <input type="file" style="display: none;"> -->
        <!--</label>-->
        <button type="submit" class="btn btn-outline-success" id="empty"><i class="fa fa-eraser"></i>Vider</button>
        <button type="submit" class="btn btn-outline-success" id="preview"><i class="fa fa-cogs"></i>&nbsp;&nbsp;Générer</button>
    </div>
</div>

<!--/.Panel-->
<!--Panel -> zone pour afficher le QrCode produit -->
<div class="col-sm-4 card" id="qr-zone">
    <script>
        $("#qr-zone").load("Views/QR-zone.html");
    </script>
</div>
<!--/.Panel-->
<!-- Fin contenu page ensemble -->

<script>

    const {
        QRCodeUnique
    } = require(`${__dirname}/Model/QRCodeJson`);

    var divTmp;
    var dropper = document.getElementById('dropZone');
    var txtZone = document.getElementById('txtZone');
    var files = [];
    var qrCodes = [];

    dropper.ondragenter = function(e){
    };

    dropper.ondragleave = function(e){
    };

    dropper.ondragover = function(e){
        e.preventDefault();
    };

    dropper.ondrop = function(e){
        e.preventDefault();

        var occurenceDeFichier = false;
        var afficherPopUp = false;
        var nomFichierIdentique = "";

        /*
        ** Parcours le ou les fichiers drop dans la zone
        */
        for(var i = 0; i < e.dataTransfer.files.length; i++){

            /*
            ** Parcours le ou les fichiers existant
            ** Si une occurence est trouvé : afficherPopUp = vrai et occurenceDeFichier = vrai
            */
            for(var j = 0; j < files.length; j++){
                if(e.dataTransfer.files[i].name == files[j].name){
                    occurenceDeFichier = true;
                    afficherPopUp = true;
                    nomFichierIdentique += "\t" + e.dataTransfer.files[i].name + "\n";
                }
            }

            /*
            ** Si une occurence de fichiers est trouvé creation de chaque ligne de ma zone de drag and drop si le fichier n'est pas present
            ** Chaque ligne est clickable pour affichier le qrCode unique
            ** Chaque ligne a un bouton pour supprimer la ligne
            */
            if(occurenceDeFichier == false){
                var div = document.createElement("DIV");
                var textDiv = document.createTextNode(e.dataTransfer.files[i].name);
                var p = document.createElement("P");
                var button = document.createElement("BUTTON");
                var I = document.createElement("I");

                I.setAttribute("class", "fa fa-eraser");
                I.setAttribute("style", "height:12px; width:12px;");

                button.setAttribute("style", "margin-right:2%");
                button.setAttribute("class", "btn btn-outline-success");
                button.addEventListener("click", clickFunctionErase);
                button.appendChild(I);

                div.setAttribute("style", "margin:2%;");
                div.id = e.dataTransfer.files[i].name;
                div.addEventListener("click", afficheQrCode);
                div.appendChild(button);
                div.appendChild(textDiv);

                txtZone.appendChild(div);

                files.push(e.dataTransfer.files[i]);
            }

            occurenceDeFichier = false;
        }

        /*
        ** Affiche un popup avec le nom des fichiers qui n'ont pu être ajouté
        */
        if(afficherPopUp){
            window.alert("Un ou plusieurs fichiers ont le même nom : \n" + nomFichierIdentique);
        }

        lireFichier();
    };

    function lireFichier(){
        qrCodes = [];

        for(var i = 0; i < files.length; i++){

            var fileReader = new FileReader();

            fileReader.readAsDataURL(files[i]);

            fileReader.addEventListener('load', function (e) {

                /*
                ** Si le QrCode est deja au format Json il n'est pas necessaire de le convertire
                */
                if (QRCodeLoader.__traiterImage(e.target.result) == false) {
                    QRCodeLoaderJson.loadImage(file, function (qrCode) {qrCodes.push(qrCode);} );
                }else{
                    var qrCodeXml = QRCodeLoader.__traiterImage(e.target.result);
                    var qrCodeJson = QRCodeLoader.parseXMLtoJson(qrCodeXml);
                    qrCodes.push(qrCodeJson);
                }
            });
        }
    }

    function clickFunctionErase(){
        var id = this.parentNode;
        var arrayTmp = [];

        /*
        ** Supprime la ligne html lie au fichier
        */
        for(var i = 1; i <= txtZone.childElementCount; i++){
            if(txtZone.childNodes[i].id == id.id){
                txtZone.removeChild(txtZone.childNodes[i]);
            }
        }

        /*
        ** Supprime le fichier dans le tableau files
        */
        for(var i = 0; i < files.length; i++){
            if(files[i].name != id.id){
                arrayTmp.push(files[i]);
            }
        }

        files = arrayTmp;
        lireFichier();
    }

    function afficheQrCode(){
        var id = this.id;

        divTmp.removeAttribute("style");

        divTmp = this;

        this.setAttribute("style", "background-color:#99cc00;");
        /*
        ** Affiche le qrCode que l'on vien de selectionner
        */
        for(var i = 0; i < files.length; i++){
            if(files[i].name == id){
                let facade = new FacadeController();
                facade.genererQRCode($('#qrView')[0], qrCodes[i]);
            }
        }
    }

    $("#preview").click(function () {

        var tmp = [];

        var qrCodeEnsemble = new QRCodeEnsemble("", tmp,"#000000");

        for(var i = 0; i < qrCodes.length; i++){
            qrCodeEnsemble.ajouterQrCode(qrCodes[i].getData()[1]);
        }

        var facade = new FacadeController();
        facade.genererQRCode($('#qrView')[0],qrCodeEnsemble);
    });

    $("#empty").click(function () {
        qrCodes = [];
        for(var i = txtZone.childElementCount; i > 0; i--){
            txtZone.removeChild(txtZone.firstElementChild);
            files.pop();
        }
    });
</script>