<div class="card-deck" id="charger-page">
  <div class="col-sm-12 card">

    <nav class="nav nav-tabs">
      <a class="nav-item nav-link active" href="#info-MusicInput">Musique</a>
      <a class="nav-item nav-link" href="#info-Import">Import</a>
      <a class="nav-item nav-link" href="#info-Ensemble">Ensemble</a>
      <a class="nav-item nav-link" href="#info-QuestionReponse">Question / Réponse</a>
    </nav>

    <div class="tab-content">
      <div class="tab-pane active" id="info-MusicInput">
        <h4>Comment mettre une musique dans un qrcode ? </h4>
        <hr>

        <h5><a href="#openModal">Ouvrir la fenêtre de saisie de la musique</a></h5>
        <div id="openModal" class="info-content">
          Cliquer sur le bouton <img src="./Views/assets/images/btnMusic.png"><br>
          Une boite de dialogue avec une zone de saisie va s'ouvrir<br>
          <img src="./Views/assets/images/modalMusic.png">
        </div>
        <h5><a href="#copyLink">Copier le lien téléchargeable de la musique</a></h5>
        <div id="copyLink" class="info-content">
          <h6><a href="#google">Google Drive</a></h6>
          <div id="google" class="info-content">
            <ul class="list components">
              <li>
                Aller sur internet, se rendre sur son compte Google Drive (https://drive.google.com), se connecter éventuellement
              </li>
              <li>
                Faire clic-droit sur le fichier audio en question
              </li>
              <li>
                Cliquer sur "Obtenir le lien partageable"
              </li>
              <li>
                Revenir sur l'application QRLudo
              </li>
              <li>
                Vidéo résumant les étapes ci dessus
              </li>
            </ul>
          </div>

          <h6><a href="#dropbox">Dropbox</a></h6>
          <div id="dropbox" class="info-content">
            <ul class="list components">
              <li>
                Aller sur internet, se rendre sur son compte Dropbox (https://www.dropbox.com), se connecter éventuellement
              </li>
              <li>
                Survoller avec la souris le fichier audio en question
              </li>
              <li>
                Cliquer sur "Partager", un popup va s'ouvrir
              </li>
              <li>
                En bas à droite du popup ouvert, cliquer sur "Créer un lien"
              </li>
              <li>
                Toujours sur le popup, cliquer sur "Copier le lien" en bas à droite
              </li>
              <li>
                Revenir sur l'application QRLudo
              </li>
              <li>
                Vidéo résumant les étapes ci dessus
              </li>
            </ul>
          </div>
        </div>

        <h5><a href="#pasteURL">Coller le lien récemment copié</a></h5>
        <div id="pasteURL" class="info-content">
          <ul class="list components">
            <li>
              Faire clic-droit sur la zone de saisie musique
            </li>
            <li>
              cliquer sur "Coller le lien" (ou avec le clavier faire la combinaison de touches Ctrl + V)
            </li>
          </ul>
        </div>

      </div>

      <div class="tab-pane" id="info-Import"></div>
      <div class="tab-pane" id="info-Ensemble"></div>
      <div class="tab-pane" id="info-QuestionReponse">
        <h5><a href="#ajoutQuestion">Ajouter une question au projet</a></h5>
        <h5><a href="#ajoutReponse">Ajouter une reponse à une question</a></h5>
        <h5><a href="#modifierQuestion">Modifier une question</a></h5>
        <div id="ajoutQuestion" class="info-content">
          Saisissez le texte de votre question dans le champ <img src="./Views/assets/images/infos_questions_reponses/nouvelleQuestion.png"/><br/>
          Validez votre question en cliquant sur le bouton <img src="./Views/assets/images/infos_questions_reponses/boutonPlus.png"/><br/>
          Un nouveau champ apparaît : il contient toutes les informations de la question que vous venez de créer.
          <img src="./Views/assets/images/infos_questions_reponses/nouvelleQuestionChamp.png"/>
        </div>
        <div id="ajoutReponse" class="info-content">
          Dans le champ de la question que vous souhaitez modifier, cliquez sur le bouton <img src="./Views/assets/images/infos_questions_reponses/boutonEditQuestion.png"/><br/>
          Une boîte de dialogue qui contient les informations de la question apparaît.
          <img src="./Views/assets/images/infos_questions_reponses/modalAjoutReponse.png"/><br/>
          Dans le champ <img src="./Views/assets/images/infos_questions_reponses/ajoutReponse.png"/>, saisissez le texte de votre réponse puis cliquer sur le bouton <img src="./Views/assets/images/infos_questions_reponses/boutonPlus.png"/>
          pour ajouter votre réponse.<br/>
          Votre réponse apparaît sous le champ de saisie.
          <img src="./Views/assets/images/infos_questions_reponses/modalAjoutReponseReponseAjoutee.png"/><br/>
          Enfin, cliquez sur le bouton <img src="./Views/assets/images/infos_questions_reponses/boutonValider.png"/> pour valider vos modifications.<br/>
          <div class="alert alert-info" role="alert">
            <br/>
            <i class="fa fa-info-circle"></i>&nbsp;&nbsp;Avec le champ <img src="./Views/assets/images/infos_questions_reponses/champCustomMessage.png"/>, vous pouvez modifier le message qui sera lu
            par la synthèse vocale de QRLudo lorsque cette réponse sera scannée. Par défault, le message est celui indiqué dans les paramètres.<br/><br/>
          </div>
          Votre réponse apparaît dans la description de la question.
          <img src="./Views/assets/images/infos_questions_reponses/champQuestionNouvelleReponse.png"/>
        </div>
        <div id="modifierQuestion" class="info-content">
          <h6>Modifier l'intitulé d'une question</h6>
            Cliquez sur le bouton <img src="./Views/assets/images/infos_questions_reponses/boutonEditQuestion.png"/> qui correspond à la question que vous souhaitez modifier.<br/>
            Modifiez l'intitulé de votre question dans le champ <img src="./Views/assets/images/infos_questions_reponses/modifsIntituleQuestion.png"/>.<br/>
            Cliquez sur <img src="./Views/assets/images/infos_questions_reponses/boutonValider.png"/> pour enregister vos modifications.
          <h6>Modifier les réponses d'une question</h6>
          Cliquez sur le bouton <img src="./Views/assets/images/infos_questions_reponses/boutonEditQuestion.png"/> qui correspond à question que vous souhaitez modifier.<br/>
          Pour ajouter une réponse, cochez sa case, pour la supprimer, décochez sa case.<br/>
          Cliquez sur <img src="./Views/assets/images/infos_questions_reponses/boutonValider.png"/> pour enregister vos modifications.
          <h6>Supprimer une question</h6>
          Cliquez sur le bouton <img src="./Views/assets/images/infos_questions_reponses/boutonSupprimer.png"/> de la question que vous voulez supprimer.
        </div>
      </div>
    </div>

    <hr>

  </div>
</div>

<script type="text/javascript" src="./js/script_info.js"></script>
