<div class="col-sm-12 card">

  <nav class="nav nav-tabs">
    <a class="nav-item nav-link active" href="#musicInput">Musique</a>
    <a class="nav-item nav-link" href="#livres">Import</a>
    <a class="nav-item nav-link" href="#temoignages">Ensemble</a>
    <a class="nav-item nav-link" href="#temoignages">Question / Réponse</a>
  </nav>

  <div class="tab-content">
    <div class="tab-pane active" id="musicInput">Texte d'accueil</div>
    <div class="tab-pane" id="livres">Tous les livres</div>
    <div class="tab-pane" id="temoignages">Tous les témoignages</div>
  </div>

  <hr>

</div>




<!-- fin contenu page unique -->

<script type="text/javascript" src="./js/script_info.js"></script>
