<div class="card-deck" id="charger-page">
  <div class="col-sm-12 card">

    <nav class="nav nav-tabs">
      <a class="nav-item nav-link active" href="#musicInput">Musique</a>
      <a class="nav-item nav-link" href="#livres">Import</a>
      <a class="nav-item nav-link" href="#temoignages">Ensemble</a>
      <a class="nav-item nav-link" href="#questionReponses">Question / Réponse</a>
    </nav>

    <div class="tab-content">
      <div class="tab-pane active" id="musicInput">
        <h4>Comment mettre une zone de texte musique ? </h4>
        <hr>

        <h5>Ouvrir la fenêtre de saisie de la musique</h5>
        Cliquer sur le bouton <img src="./Views/assets/images/btnMusic.png"><br>
        Vous verrez apparaitre une boite de dialogue avec une zone de texte <img src="./Views/assets/images/modalMusic.png">

        <h5>Copier le lien téléchargeable de la musique</h5>

        <h6>Google Drive</h6>
        <ul class="list components">
          <li>
            Aller sur internet, se rendre sur son compte Google Drive (https://drive.google.com), se connecter éventuellement
          </li>
          <li>
            Faites clique droit sur le fichier audio en question
          </li>
          <li>
            Cliquer sur "Obtenir le lien partageable"
          </li>
          <li>
            Revenir sur l'application QRLudo
          </li>
          <li>
            Vidéo résumant les étapes ci dessus
          </li>
        </ul>

        <h6>Dropbox</h6>
        <ul class="list components">
          <li>
            Aller sur internet, se rendre sur son compte Dropbox (https://www.dropbox.com), se connecter éventuellement
          </li>
          <li>
            Survoller avec la souris le fichier audio en question
          </li>
          <li>
            Cliquer sur "Partager", un popup va s'ouvrir
          </li>
          <li>
            En bas à droite du popup ouvert, cliquer sur "Créer un lien"
          </li>
          <li>
            Toujours sur le popup, cliquer sur "Copier le lien" en bas à droite
          </li>
          <li>
            Revenir sur l'application QRLudo
          </li>
          <li>
            Vidéo résumant les étapes ci dessus
          </li>
        </ul>

        <h5>Coller le lien récemment copié</h5>
        <ul class="list components">
          <li>
            Faire clique
          </li>
          <li>
            Survoller avec la souris le fichier audio en question
          </li>
        </ul>

      </div>

      <div class="tab-pane" id="livres">Tous les livres</div>

      <div class="tab-pane" id="temoignages">Tous les témoignages</div>

      <div class="tab-pane" id="questionReponses">Toutes les questions reponses</div>
    </div>

    <hr>

  </div>
</div>

<script type="text/javascript" src="./js/script_info.js"></script>
