<!-- Div chargé par toutes les pages, permet d'afficher l'image du QRCode, le player et le bouton d'export -->

<script src="./js/play-sound.js"></script>

<div class="card-body" id="affichage_qr">
    <h6 class="card-title"></h6>
    <div class="col-md-9 qrludo-QR rounded" id="qrView">
      <!-- ici le QrCode a afficher -->
        <div>

        </div>
    </div>
</div>
<div class="card-footer form-inline" id="affichage_qr_footer">
  <div id="play-sound-div" class="float-lg-left form-inline">
    <button type="button" class="btn btn-outline-success" id="prevLecture">
      <i class="fa fa-step-backward"></i>
    </button>
    <button type="button" class="btn btn-outline-success" id="playLecture">
      <i class="fa fa-play"></i>&nbsp;&nbsp;Lire
    </button>
    <button type="button" class="btn btn-outline-success" id="pauseLecture">
      <i class="fa fa-pause"></i>&nbsp;&nbsp;Pause
    </button>
    <button type="button" class="btn btn-outline-success" id="nextLecture">
      <i class="fa fa-step-forward"></i>
    </button>
    <button type="button" class="btn btn-outline-success" id="stopLecture">
      <i class="fa fa-stop"></i>&nbsp;&nbsp;Stop
    </button>
  </div>
  <button type="button" class="btn btn-outline-success float-lg-right" id="saveQRCode" disabled>
    <i class="fa fa-download"></i>&nbsp;&nbsp;Exporter
  </button>
</div>
