<script src="js/QuestionReponse.js"></script>
<!-- contenu page QuesRep -->
<!--Panel-->

<div class="col-sm-12 card">
  <form id="formulaireQesRep" onsubmit="return false;">
    <div class="card-body">
      <h6 class="card-title"></h6>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#newProject">Mon Projet</a>
        </li>

      </ul>

      <div class="tab-content scrollbar-success" style="height:600px; overflow-y: scroll; margin-top:15px;">
        <div id="newProject" class="tab-pane fade in active show">
          <div class="form-group">
            <label class="control-label" style="color:#28a745;padding-top:10px;">Projet</label>
            <div class="form-inline">
              <textarea class="form-control col-sm-6" id="projectId" rows="2" name="nomprojet" placeholder="Nom Du Projet"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" style="color:#28a745;padding-top:10px;">Questions</label>
            <div class="form-inline">
              <select id="questionsId" name="questionsName" class="form-control form-select-options col-md-6" style="margin-right:10px;">
                <option value="noquest">---Selectionner Une Question---</option>
              </select>
              <button id="addNewQuesBtnId" type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#newQuestionModalId">
                <i class="fa fa-plus"></i>
              </button>
              <button type='button' id='previwQuesQRCodeId' class='btn btn-outline-success'>
                <i class='fa fa-qrcode'></i>
              </button>
            </div>
          </div>
          <div id="reponsesDivId" class="form-group">
            <label class="control-label col-md-12" style="color:#28a745;padding-top:10px;">Reponses</label>
            <button id="addNewChooseRepBtnId" type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#chooseReponseModalId">Affecter une reponse</button>
            <div id="reponsesDivLabelsId" class="form-group">
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="card-footer">
      <button type="reset" class="btn btn-outline-success"><i class="fa fa-eraser"></i>&nbsp;&nbsp;Annuler</button>
      <button id="save" type="submit" class="btn btn-outline-success"><i class="fa fa-cogs"></i>&nbsp;&nbsp;Générer</button>
      <button id="addNewRepBtnId" type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#newReponseModalId">Ajouter Une Nouvelle Reponse</button>
      <button id="importProjectBtnId" type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#importProjectModalId">Importer Un Projet Existant</button>

    </div>
  </form>
</div>
<!--/.Panel-->

<!--Panel -> zone pour afficher le QrCode produit -->
<div class="col-sm-4 card" id="qr-zone">
  <script>
    $("#qr-zone").load("Views/QR-zone.html");
  </script>
</div>
<!--/.Panel-->


<!-- pour ajouter une nouvelle question -->
<div class="modal fade" id="newQuestionModalId" tabindex="-1" role="dialog" aria-labelledby="questionModalTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="questionModalTitleId">Nouvelle Question</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="questionAddFormId">
          <div class="form-group">
            <label class="col-sm-12 control-label" style="color:#28a745;padding-top:10px;">
              Question
            </label>
            <div class="col-sm-10">
              <textarea class="form-control" id="questionTextAreaId" rows="2" name="Question"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Fermer</button>
        <button id="addQuestionBtnId" type="button" class="btn btn-outline-success">Ajouter</button>
      </div>
    </div>
  </div>
</div>
<!-- end nouvelle question -->
<!-- pour ajouter une nouvelle reponse -->
<div class="modal fade" id="newReponseModalId" tabindex="-1" role="dialog" aria-labelledby="reponseModalTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reponseModalTitleId">Nouvelle Question</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="reponseAddFormId">
          <div class="form-group">
            <label class="col-sm-12 control-label" style="color:#28a745;padding-top:10px;">
              Reponse
            </label>
            <div class="col-sm-10">
              <textarea class="form-control" id="reponseTextAreaId" rows="2" name="Reponse"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Fermer</button>
        <button id="addReponseBtnId" type="button" class="btn btn-outline-success">Ajouter</button>
      </div>
    </div>
  </div>
</div>
<!-- end nouvelle reponse -->
<!-- pour choisir une reponse -->
<div class="modal fade" id="chooseReponseModalId" tabindex="-1" role="dialog" aria-labelledby="reponseModalTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reponseModalTitleId">Choisir Une Question</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="reponseChooseFormId">
          <div class="form-group">
            <div class="col-sm-10">
              <select id='reponsesChooseSelectId' name='reponsesName' class='form-control form-select-options col-md-6' style='margin-right:10px;'>
                <!-- <option value='norep'>-Selectionner Une Reponse-</option> -->
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Fermer</button>
        <button id="chooseReponseBtnId" type="button" class="btn btn-outline-success">Ajouter</button>
      </div>
    </div>
  </div>
</div>
<!-- end choix reponse -->
<!-- pour choisir une reponse -->
<div class="modal fade" id="importProjectModalId" tabindex="-1" role="dialog" aria-labelledby="importProjectModalTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="importProjectModalTitleId">Importer Un Projet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="importProjectFormId">
          <div class="form-group">
            <label for="importProjectInputFileId">Importer Un Projet</label>
            <input type="file" class="form-control-file" id="importProjectInputFileId">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Fermer</button>
        <button id="importFileValidateBtnId" type="button" class="btn btn-outline-success">Valider</button>
      </div>
    </div>
  </div>
</div>
<!-- end choix reponse -->
<!-- <script>
$().ready(function(){
  $('#project').click(chargerProjects("QA_ProjectNames_File.json"));

});
</script> -->
