<script src="../rendererProcess/view/exerciceReconnaissanceVocale/exerciceReconnaissanceVocaleScript.js"></script>
<!-- contenu page QuesRep -->
<!--Panel-->

<div class="col-sm-12 card">
    <div id="btnInfo">
      <button class="btn btn-outline-success" id="infos-exercice-reco-vocale"><i class="fa fa-info-circle"></i></button>
    </div>
    <div class="text-center" id="textPresentation">
        Création d'exercice à reconnaissance vocale<br>
        Il y a deux types d'exercices : les questions ouvertes et les QCM
    </div>
    <form id="formulaireQCM" onsubmit="return false;">
        <div class="card-body">
            <h6 class="card-title"></h6>
            <nav class="nav nav-tabs">
            <ul class="nav nav-tabs">
                    <li class="nav-item">
                    <a class="nav-link" id="questionOuverteOnglet" href="#onglet-QuesOuverte">Question Ouverte </a></li>  
                    <li class="nav-item">
                    <a class="nav-link" id="questionQCMOnglet" href="#onglet-QCM">QCM</a></li>
            </ul>
          </nav>
          <div class="tab-content">
            <div class="mt-2" id="messages"></div>

             <div class="tab-pane" id="onglet-QCM">
                <div id="newProject" class="tab-pane fade in active show" role="tabpanel">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-lg-6 form-inline">
                        <label class="control-label" style="color:#28a745;padding-right:32px;">Question :
                            </label>
                            <input type="text" class="form-control input-lg" style="width:450px;"  id="QuestionQCM" cols="10" name="nomprojet"
                                placeholder="Quelle est Votre Question" onkeyup="activerSave('QuestionQCM');" />
                      </div>

                      <div class="col-lg-6 mt-5">
                          <div class="form-group form-inline">
                              <input type="checkbox" form="label2" id="reponseParIdentifiant" class="form-control" onclick="activerSaveCheckbox('reponseParIdentifiant');">
                              <label id="label2" class="ml-3">Utiliser le numéro de la réponse comme réponse vocale</label>
                          </div>
                        </div>
                               </div>
                               <br>
                              <div class="form-row">
                                <div class="form-group col-md-10" style="text-align: right;">
                               <label>Bonne(s) réponse(s)</label>
                               </div>
                              </div>
                              <div class="form-row" id="divQuestion1">
                                  <div class="form-group col-md-3">
                                      <label class="control-label">Réponse 1 :</label>
                                  </div>
                                  <div class="form-group col-md-6">
                                    <span class="row">
                                      <input type="text" class="form-control col-sm-6" id="reponseinitiale" rows="2" name="nomprojet"
                                            placeholder="Réponse" onkeyup="activerSave('reponseinitiale');" />
                                      <i class="fas fa-info-circle mt-2 ml-2" 
                                        title="Nous vous conseillons de cocher la case 'Utiliser le numéro de la réponse comme réponse vocale' si votre réponse est longue ou difficilement prononçable" 
                                        data-toggle="tooltip" data-placement="right"></i>
                                    </span>
                                  </div>
                                  <div class="form-group col-md-2">
                                    <input class="form-check-input" type="checkbox" name="gridRadios" id="gridCheck1" style="width:70px;" 
                                      value="option" onclick="activerSaveCheckbox('gridCheck1');">
                                        <label class="form-check-label" for="gridCheck1">
                                  </div>
                              </div>
                              <div id="repContainer"></div>
                              <div class="form-group col-md-6">
                                  <label style="color:#a5b2af;">Ajouter une réponse</label>
                                  <button id="ajouterQuestion" type="button"
                                    class="btn btn-outline-success align-self-center" style="color:#a5b2af;" name="ajouterQuestion">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                  </button>
                                </div>

                               <form>
                                <br>
                                <br>
                              <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-4 col-form-label" style="color:#28a745;padding-right:32px;">Message de bonne réponse :</label>
                                <div class="col-sm-8">
                                  <input type="text" class="form-control" id="MessageBonnereponseQCM" placeholder="Bravo !" onkeyup="activerSave('MessageBonnereponseQCM');">
                                </div>
                              </div>
                              <div class="form-group row">
                                 <label for="inputEmail3" class="col-sm-4 col-form-label" style="color:#28a745;padding-right:32px;">Message de mauvaise réponse :</label>
                                <div class="col-sm-8">
                                  <input type="text" class="form-control" id="MessageMauvaisereponseQCM" placeholder="Dommage !" onkeyup="activerSave('MessageMauvaisereponseQCM');">
                                </div>
                              </div>
                            </form>
                            </div>
                        </div>
                        
                    </div>
                    <div class="tab-pane" id="onglet-QuesOuverte">
                     
                      <br>
                       <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-4 col-form-label" style="color:#28a745;padding-right:32px;">Question :</label>
                                <div class="col-sm-8">
                                  <input type="text" class="form-control" id="Question" style="height: 70px;" onkeyup="activerSave('Question');">
                                </div>
                              </div>
                      <br>
                       <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-4 col-form-label" style="color:#28a745;padding-right:32px;">Bonne réponse :</label>
                                <div class="col-sm-8">
                                  <span class="row">
                                    <input type="text" class="form-control ml-3 col-11" id="Bonnereponse" onkeyup="activerSave('Bonnereponse');">
                                    <i class="fas fa-info-circle mt-2 ml-2" 
                                      title="Nous vous conseillons de choisir une réponse courte et facilement prononçable par l'utilisateur. Ne pas oublier les accents dans votre réponse."
                                      data-toggle="tooltip" data-placement="right"></i>
                                  </span>
                                </div>
                              </div>
                      <br>
                         <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-4 col-form-label" style="color:#28a745;padding-right:32px;">Message de bonne réponse :</label>
                                <div class="col-sm-8">
                                  <input type="text" class="form-control" id="MessageBonnereponse" placeholder="Bravo !" onkeyup="activerSave('MessageBonnereponse');">
                                </div>
                              </div>
                              <div class="form-group row">
                                 <label for="inputEmail3" class="col-sm-4 col-form-label" style="color:#28a745;padding-right:32px;">Message de mauvaise réponse :</label>
                                <div class="col-sm-8">
                                  <input type="text" class="form-control" id="MessageMauvaisereponse" placeholder="Dommage !" onkeyup="activerSave('MessageMauvaisereponse');">
                                </div>
                              </div> 
                    </div>
                  </div>
                </div>
     </form>
     <div class="card-footer form-inline">
          <div class="card col-md-auto">
            <button style="margin-top:10px" type="reset" class="btn btn-outline-success btn-unique-xl" data-toggle="modal" id="emptyZones" data-target="#confirmation">
              <i class="fa fa-undo"></i>&nbsp;&nbsp;Réinitialiser
            </button>
          </div>
          <div class="card col-md-auto">
            <button type="button" class="btn btn-outline-success btn-unique-xl " id="saveQRCode" disabled>
              <i class="fa fa-download"></i>&nbsp;&nbsp;Exporter
            </button>
            <button type="submit" style="margin-top:10px" class="btn btn-outline-success " id="preview" onclick="genererJson()">
              <i class="fa fa-cogs" ></i>&nbsp;&nbsp;Générer
            </button>
          </div>
      </div>
</div>
  
<!--/.Panel-->
<div class="modal fade" id="confirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Etes vous sûr de vouloir réinitialiser ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-outline-success" data-dismiss="modal" id="emptyFields">OK</button>
      </div>
    </div>
  </div>
</div>

<!--Panel -> zone pour afficher le QrCode produit -->
<div class="col-sm-4 card" id="qr-zone">
    <script>
        $("#qr-zone").load(path.join(__dirname.match('.*app')[0],"/rendererProcess/components/zoneQrCode/QR-zone.html"));
    </script>
</div>


