/*
 * @Author: SALIM Youssef
 * @Date:   2018-Oct
 */
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  /*padding: 15px 10px;*/
  padding: 5px 10px 5px 10px;
  /*background: #e5f3ec;*/
  border: none;
  border-radius: 0;
  margin-bottom: 15px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #fff;
  margin: 0px 0 10px 0;
}

i,
span {
  display: inline-block;
}

#inputAudio input, #legendeTextarea textarea {
  width: 80%;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  /*background: #6754;*/
  /*background: #FFCC54;*/
  background: #28a745;
  /*color: #504A3D;*/
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  min-width: 90px;
  max-width: 90px;
  text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
  display: none;
}

#sidebar.active .sidebar-header strong {
  display: block;
}

#sidebar ul li a {
  text-align: left;
}

#sidebar.active ul li a {
  padding: 20px 10px;
  text-align: center;
  /*font-size: 0.85em;*/
  font-size: 0.85em;
}

#sidebar.active ul li a i {
  margin-right: 0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}

#sidebar.active ul ul a {
  padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

#sidebar .sidebar-header {
  padding: 20px;
  /*background: #6d7fcc;*/
  /*background: #EFB52E;*/
  background: #e5f3ec;
}

#sidebar .sidebar-header strong {
  display: none;
  font-size: 1.8em;
}

#sidebar ul.components {
  /*padding: 20px 0;*/
  /*border-bottom: 1px solid #47748b;*/
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li a i {
  margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  /*background: #504A3D;*/
  /*background: #403f3d;*/
  background: #39ca5a;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

#parametres {
  margin-left: 25px;
  margin-bottom: 10px;
  background-color: white;
}

#parametres:hover {
  background-color: #28a745;
  border: 1px solid white;
}

#infos {
  margin-left: 25px;
  margin-bottom: 10px;
  background-color: white;
}

#infos:hover {
  background-color: #28a745;
  border: 1px solid white;
}
.btn-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  /*background: #DFDDD7;*/
  /*background: #43dada00;*/
}

.logo-qrludo {
  /*width: 55px;*/
  width: 45px;
  margin-top: 0px;
  display: inline-block;
  vertical-align: top;
}

label.error {
  color: #EC5E69;
  font-weight: 500;
  margin-top: 0px;
  font-size: 12px
}

label.qrludo {
  color: #28a745;
  padding-top: 10px;
}

label.error {
  color: #EC5E69;
  font-weight: 500;
  margin-top: 0px;
  font-size: 12px
}

label.qrludo {
  color: #28a745;
  padding-top: 10px;
}

.qrludo-QR {
  /* /background:#39ca5a; */
  height: auto;
  margin: auto;
  margin-top: 50px;
  padding: 10px;
}

.qrludo-QR-img {
  opacity: 0.1;
}

.qrludo-QR {
  /*background: #000;*/
  height: auto;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
}

.qrludo-QR-img {
  opacity: 0.1;
}

.qrludo-QR-colorpicker {
  margin: auto;
  margin-top: 5px;
  padding: 0;
}

.QR-colorpicker {
  margin-top: 25px;
}

.liste-QR {
  position: relative;
  padding: 2px 2px 2px 15px;
  margin-bottom: 1px;
  border: 1px solid transparent;
  border-radius: .25rem;
  background-color: #d4edda85;
}

.liste-QR .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: .0px 0px 0px 0px;
  margin-right: 4px;
  color: inherit;
}

.liste-QR .alert-link {
  font-size: 0.9em;
}

.scrollbar-success::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-success::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

.scrollbar-success::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #39ca5a;
}

input[type="color"] {
  -webkit-appearance: none;
  /* border: none; */
  width: 60px;
  height: 38px;
  border: 1px solid #28a745;
  border-radius: .0rem .25rem .25rem .0rem;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

.legendeQR {
  margin-top: 10px;
}

.legendeQR-close-btn {
  margin-left: 10px;
}

.btn-unique-xl {
  margin-right: 5px;
}

.icon-player {
  color: #28a745;
  display: none;
  margin-right: 10px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
  }

  .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }

  #sidebar.active {
    margin-left: 0 !important;
  }

  #sidebar .sidebar-header h3,
  #sidebar .CTAs {
    display: none;
  }

  #sidebar .sidebar-header strong {
    display: block;
  }

  #sidebar ul li a {
    padding: 20px 10px;
  }

  #sidebar ul li a span {
    font-size: 0.85em;
  }

  #sidebar ul li a i {
    margin-right: 0;
    display: block;
  }

  #sidebar ul ul a {
    padding: 10px !important;
  }

  #sidebar ul li a i {
    font-size: 1.3em;
  }

  #sidebar {
    margin-left: 0;
  }

  #sidebarCollapse span {
    display: none;
  }
}

.qrludo-QR img {
  max-width: 100%;
  height: auto
}

/*loader*/
.loader {
  margin: auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*end loader*/
/*info*/
.tab-pane>h5 {
  margin-top: 20px;
}

.modalMusic, .modalAjoutReponse, .champReponse, .modalAjoutReponseCreerReponse,
.modalAjoutReponseReponseAjoutee, .importerProjetDialog, .projetImporte,
.exporterProjetDialog, .modalCharger, .zonemultiple {
  display: block;
}

@media (max-width:640px) {

  .modalMusic, .modalAjoutReponse, .champReponse, .modalAjoutReponseCreerReponse,
  .modalAjoutReponseReponseAjoutee, .importerProjetDialog, .projetImporte,
  .exporterProjetDialog, .modalCharger, .zonemultiple {
    display: none;
  }

  #info-multiple>ul>li:nth-child(5)>video {
    height: 250px;
  }
}

/*end info*/
