<!-- contenu page Serious Game -->
<!--Panel-->
<div class="col-sm-12 card">
    <div id="btnInfo">
        <button class="btn btn-outline-success" id="infos-serious-game"><i class="fa fa-info-circle"></i></button>
    </div>
    <div class="text-center" id="textPresentation">
        Création de QR Code Serious Game<br>
        Jeu à but pédagogique <br />
        Il existe différents types d'énigmes pour rendre le scénario plus riche.
    </div>
    <div class="alert alert-success" role="alert" id="alertExportationOk" style="display:none"> Votre projet a bien été
        enregistré. </div>
    <div class="alert alert-danger" role="alert" id="alertQuestionVideError" style="display:none"> Veuillez saisir le
        texte lié à votre jeu. </div>
    <div class="alert alert-danger" role="alert" id="alertNombreReponseVideError" style="display:none"> Veuillez saisir
        un nombre de réponses correct. </div>
    <div class="alert alert-danger" role="alert" id="alertQuestionExistError" style="display:none"> La question existe
        déjà. </div>
    <div class="alert alert-danger" role="alert" id="alertChampsEmptyError" style="display:none"> Veuillez remplir tous
        les champs </div>
    <form id="formulaireQCM" onsubmit="return false;">
        <div class="card-body">
            <h6 class="card-title"></h6>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#newProject">QR - Serious Game</a>
                </li>
            </ul>
            <div class="tab-content scrollbar-success" style="height:600px; overflow-y: scroll; margin-top:15px;">
                <div id="newProject" class="tab-pane fade in active show" role="tabpanel">

                    <div class="form-group">
                        <div class="form-inline">
                            <label class="control-label" style="color:#28a745;padding-top:10px;padding-right:32px;">Nom
                                du jeu :
                            </label>
                            <input type="text" class="form-control col-sm-6" id="projectId" rows="2" name="nomprojet"
                                placeholder="Nom du Serious Game" onkeyup="activerSave('projectId');" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-group">
                            <div class="form-inline">
                                <label class="control-label"
                                    style="color:#28a745;padding-top:10px;padding-right:27px;">Introduction : </label>
                                <textarea id="textAreaIntro" rows="4" cols="45"
                                    onkeyup="activerSave('textAreaIntro');"></textarea>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" id="addAudioIntro" class="btn btn-outline-success btn-unique-xl  "
                                    name="ajouterSon" data-toggle="modal" data-target="#listeMusic">
                                    <i class="fa fa-music"></i>&nbsp;&nbsp;Audio
                                </button>
                                <button id="deleteAudioIntro" type="button" onclick=""
                                    class="btn btn-outline-success align-self-center"><i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>

                        <div id="containerEnigme">
                        </div>

                        <div class="form-group">
                            <label for="ajouterEnigme" style="color:#a5b2af;">Ajouter une énigme</label>
                            <button id="ajouterEnigme" type="button" class="btn btn-outline-success align-self-center"
                                style="color:#a5b2af;" name="ajouterQuestion">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </div>

                        <div class="form-group">
                            <div class="form-inline">
                                <label class="control-label"
                                    style="color:#28a745;padding-top:10px;padding-right:100px;">Fin : </label>
                                <textarea id="textAreaFin" rows="4" cols="45"
                                    onkeyup="activerSave('textAreaFin');"></textarea>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" id="addAudioFin" class="btn btn-outline-success btn-unique-xl  "
                                    name="ajouterSon" data-toggle="modal" data-target="#listeMusic">
                                    <i class="fa fa-music"></i>&nbsp;&nbsp;Audio
                                </button>
                                <button id="deleteAudioFin" type="button" onclick=""
                                    class="btn btn-outline-success align-self-center"><i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>
                        <hr>
                        <div id="questionsDivLabelsId" class="form-group">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer form-inline">
            <div class="card col-md-auto ">
                <button type="button" style="margin-top:10px" data-toggle="modal"
                    class="btn btn-outline-success btn-unique-xl" data-target="#confirmation">
                    <i class="fa fa-undo"></i>&nbsp;&nbsp;Réinitialiser
                </button>
            </div>
            <div class="card col-md-auto">
                <button type="button" style="margin-top:10px" class="btn btn-outline-success btn-unique-xl"
                    id="saveQRCode" disabled>
                    <i class="fa fa-download"></i>&nbsp;&nbsp;Exporter
                </button>
                <button type="submit" style="margin-top:10px" class="btn btn-outline-success btn-unique-xl"
                    id="generateSG">
                    <i class="fa fa-cogs"></i>&nbsp;&nbsp;Générer
                </button>
            </div>
        </div>
    </form>
</div>
<!--/.Panel-->

<!-- Modal Popup Fichier audio -->
<div class="modal fade" id="listeMusic" tabindex="-1" role="dialog" data-backdrop="static"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Ajouter un fichier audio</h5>
                <button type="button" class="close" id="closeModalListeMusic" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body scrollbar-success">
                <div class="list-group" id="elementsAudio">
                    <div class="form-group">

                        <label class="col-sm-12 control-label" style="color:#28a745;padding-top:10px;">Veuillez copier
                            et coller le
                            lien téléchargeable du fichier audio</label>
                        <div class="col-sm-12">
                            <input type="text" id="musicUrl" name="musicUrl" class="form-control"
                                onpaste="getMusicFromUrl()">
                        </div>
                        <br>
                        <button type="button" class="btn btn-outline-success" id="showInfo" title="Afficher aide">
                            <i class="fa fa-info-circle"></i>
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin Modal Popup Fichier Audio -->

<div class="modal fade" id="confirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Etes vous sûr de vouloir réinitialiser ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-outline-success" data-dismiss="modal" id="emptyFields"
                    onclick="deleteGame()">OK</button>
            </div>
        </div>
    </div>
</div>

<!--Panel -> zone pour afficher le QrCode produit -->
<div class="col-sm-4 card" id="qr-zone">
    <script>
        $("#qr-zone").load(path.join(__dirname.match('.*app')[0],"/rendererProcess/components/zoneQrCode/QR-zone.html"));
    </script>
</div>

<script type="text/javascript" src="../rendererProcess/view/seriousGame/script_serious_game.js"></script>