<div class="text-center" id="textPresentation">
  <h1>Bienvenue sur QR Ludo Generator</h1>

  <p>Cette application permet de générer différents type de Qr Code à l'aide de formulaires, voici la liste des Qr Codes qui peuvent être construits.</p>
  <div>
    <h5>Unique</h5>
    <p>Vous pouvez utiliser du contenu textuel ou vocal.</p>
    <h5>Multiple</h5>
    <p>Les QR Codes multiples contiennent plusieurs QR Codes uniques.</p>
    <h5>Exercice Qr Code</h5>
    <p>Les exercices permettent de prendre connaissance des réponses avant validation.<br>
      Plusieurs réponses peuvent être acceptées !</p>
    <h5>Exercice de Reconnaissance Vocale</h5>
    <p>Cette onglet dispose de 2 sous-onglets permettant de réaliser des exercices à reconnaissance vocale</p>
      <strong>Question Ouverte : </strong><p>Question simple à reconnaissance vocale.</p>
      <strong>QCM : </strong><p>Création d'un QR Code composé de sa question et des réponses possible à cette question, ces dernières seront lus sur l'application mobile</p>
    <h5>Serious Game</h5>
    <p>Jeu à but pédagogique <br />
    Il existe différents types d'énigmes pour rendre le scénario plus riche.</p>
  </div>
</div>
