<!--link script_unique to get the audio infomartions-->
<script src="./js/script_unique.js"></script>

<div class="card-deck" id="charger-page">
  <div class="col-sm-12 card">

    <nav class="nav nav-tabs">
      <a class="nav-item nav-link" id="unique-info" href="#info-unique">Unique</a>
      <a class="nav-item nav-link" id="multiple-info" href="#info-multiple">Multiple</a>
      <a class="nav-item nav-link" id="exo-qrcode-info" href="#info-exercice-qrcode">Exercice - QR Code</a>
      <a class="nav-item nav-link" id="exo-reco-vocale-info" href="#info-exercice-reco-vocale">Exercice - Reco vocale</a>
      <a class="nav-item nav-link" id="serious-game-info" href="#info-serious-game">Serious Game</a>
      <a class="nav-item nav-link" id="music-info" href="#info-MusicInput">Musique</a>
      <a class="nav-item nav-link" id="import-info" href="#info-Import">Import</a>
    </nav>

    <div class="tab-content" id="myInfo">
      <div class="tab-pane" id="info-unique">
        <h5>Comment utiliser les QR Unique ?</h5>
        <hr>
        <h5><a href="#affichageVideoUnique">Vidéo explicative</a></h5>
        <div id="affichageVideoUnique" class="info-content">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/9VIE4R7dDs4" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

      <div class="tab-pane" id="info-MusicInput">
        <h5>Comment mettre une musique dans un qrcode ? </h5>
        <hr>

        <h5><a href="#openModal">Ouvrir la fenêtre de saisie de la musique</a></h5>
        <div id="openModal" class="info-content">
          <ul>
            <li>Cliquer sur le bouton <img src="./Views/assets/images/btnMusic.png"></li>
            <li>Une boite de dialogue avec une zone de saisie va s'ouvrir<br>
              <img class="modalMusic" src="./Views/assets/images/modalMusic.png"></li>
          </ul>
        </div>
        <h5><a href="#copyLink">Copier le lien téléchargeable de la musique</a></h5>
        <div id="copyLink" class="info-content">
          <h6><a href="#google">Google Drive</a></h6>
          <div id="google" class="info-content">
            <ul class="list components">
              <li>
                Aller sur internet, se rendre sur son compte Google Drive (https://drive.google.com), se connecter
                éventuellement
              </li>
              <li>
                Faire clic-droit sur le fichier audio en question
              </li>
              <li>
                Cliquer sur "Obtenir le lien partageable"
              </li>
              <li>
                Choisir "Lecteur" pour "Tous les utilisateurs disposant du lien"
              </li>
              <li>
                Copier le lien
              </li>
              <li>
                Revenir sur l'application QRLudo
              </li>
              <li>
                Vidéo résumant les étapes ci dessus
              </li>
            </ul>
          </div>

          <h6><a href="#dropbox">Dropbox</a></h6>
          <div id="dropbox" class="info-content">
            <ul class="list components">
              <li>
                Aller sur internet, se rendre sur son compte Dropbox (https://www.dropbox.com), se connecter
                éventuellement
              </li>
              <li>
                Survoller avec la souris le fichier audio en question
              </li>
              <li>
                Cliquer sur "Partager", un popup va s'ouvrir
              </li>
              <li>
                En bas à droite du popup ouvert, cliquer sur "Créer un lien"
              </li>
              <li>
                Toujours sur le popup, cliquer sur "Copier le lien" en bas à droite
              </li>
              <li>
                Revenir sur l'application QRLudo
              </li>
              <li>
                Vidéo résumant les étapes ci dessus
              </li>
            </ul>
          </div>
        </div>

        <h5><a href="#pasteURL">Coller le lien récemment copié</a></h5>
        <div id="pasteURL" class="info-content">
          <ul class="list components">
            <li>
              Faire clic-droit sur la zone de saisie musique
            </li>
            <li>
              cliquer sur "Coller le lien" (ou avec le clavier faire la combinaison de touches Ctrl + V)
            </li>
          </ul>
        </div>

      </div>

      <div class="tab-pane" id="info-Import">

        <h5>Importer un QR-Code Unique ou Multiple</h5>
        <hr>

        <ul>
          <li>Cliquer sur le bouton <img src="./Views/assets/images/infos_import/boutonCharger.png"></li>
          <li>
            Une boite de dialogue s'ouvre </br>
            <img class="modalCharger" src="./Views/assets/images/infos_import/modalCharger.png">
          </li>
          <li>
            Cliquer sur le bouton
            <img src="./Views/assets/images/infos_import/modalChargerChoisirFichier.png">
          </li>
          <li>Choisir le qrcode à importer</li>
          <li>Cliquer sur le bouton << Valider>> pour importer le qrcode,</br>
              << Annuler>> pour annuler </br>
                <img src="./Views/assets/images/infos_import/modalChargerValider.png">
          </li>
          <li>Le QR-Code sera importé recréé et affiché.
          </li>
        </ul>

      </div>

      <div class="tab-pane" id="info-multiple">
        <h5>Créer un QR-Code Multiple</h5>
        <hr>

        <h5><a href="#affichageVideoMultiple">Vidéo explicative</a></h5>
        <div id="affichageVideoMultiple" class="info-content">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Wv6BuHnAXQM" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <h5><a href="#affichageTexte">Texte explicatif</a></h5>
        <div id="affichageTexte" class="info-content">
          <ul>
            <li>Cliquer sur le bouton <img src="./Views/assets/images/infos_multiple/boutonmultiple.png"></li>
            <li>
              La zone correspondante à la création de QR-Code Multiple va s'afficher </br>
              <img class="zonemultiple" src="./Views/assets/images/infos_multiple/zonemultiple.png">
            </li>
            <li>Saisir le nom du QR-Code</li>
            <li>
              Depuis votre ordinateur Glisser les QR-Codes uniques à ajouter et les déposer sur l'appplication, sur la
              zone
              <img src="./Views/assets/images/infos_multiple/deposermultiple.png">
            </li>
            <li>
              <video width="auto" height="500" controls loop>
                <source src="./Views/assets/images/infos_multiple/multiple.mp4" type="video/mp4">
              </video>
            </li>
          </ul>
        </div>
      </div>

      <div class="tab-pane" id="info-exercice-qrcode">
          <h5>Comment utiliser les QR Exercices ?</h5>
          <hr>

          <h5><a href="#affichageVideoExercice">Vidéo explicative</a></h5>
          <div id="affichageVideoExercice" class="info-content">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/2PGPMnRpgwE" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
      </div>

      <div class="tab-pane" id="info-exercice-reco-vocale">
        <h5>Comment utiliser l'onglet "Exercice - Reco Vocale" ?</h5>
      </div>
    
    
      <div class="tab-pane" id="info-serious-game">
        <h5>Comment utiliser l'onglet "Serious Game" ?</h5>
      </div>
    </div>
    <hr>
  </div>

</div>


<script>
  $(document).ready(function () {
    switch (require('electron').remote.getGlobal('sharedObject').someProperty) {
      case 'unique':
        document.getElementById("unique-info").classList.add("active");
        document.getElementById("info-unique").style.display = "block";
        break;
      case 'multiple':
        document.getElementById("multiple-info").classList.add("active");
        document.getElementById("info-multiple").style.display = "block";
        break;
      case 'exerciceQrCode':
        document.getElementById("exo-qrcode-info").classList.add("active");
        document.getElementById("info-exercice-qrcode").style.display = "block";
        break;
      case 'exerciceRecoVocale':
        document.getElementById("exo-reco-vocale-info").classList.add("active");
        document.getElementById("info-exercice-reco-vocale").style.display = "block";
        break;
      case 'seriousGame':
        document.getElementById("serious-game-info").classList.add("active");
        document.getElementById("info-serious-game").style.display = "block";
        break;
    }
  });
</script>

<script type="text/javascript" src="./js/script_info.js"></script>