<script src="js/script_qcm.js"></script>
<!-- contenu page QuesRep -->
<!--Panel-->

<div class="col-sm-12 card">
  <div class="text-center" id="textPresentation">
      Création de QR Code QCM.<br>
      Une question possède plusieurs réponses. Si la bonne est donnée,<br>
       c'est gagné, sinon c'est perdu !
  </div >
  <div class="alert alert-success" role="alert" id="alertExportationOk" style="display:none;">  Votre projet a bien été enregistré. </div>
  <div class="alert alert-danger" role="alert" id="alertQuestionVideError" style="display:none;"> Veuillez saisir le texte de votre question. </div>
  <div class="alert alert-danger" role="alert" id="alertNombreReponseVideError" style="display:none;"> Veuillez saisir un nombre de réponses correct. </div>
  <div class="alert alert-danger" role="alert" id="alertQuestionExistError" style="display:none"> La question existe déjà. </div>
  <form id="formulaireQCM" onsubmit="return false;">
    <div class="card-body">
      <h6 class="card-title"></h6>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#newProject">QR - QCM</a>
        </li>
      </ul>

      <div class="tab-content scrollbar-success" style="height:600px; overflow-y: scroll; margin-top:15px;">
        <div id="newProject" class="tab-pane fade in active show" role="tabpanel">
          <div class="form-group">
            <label class="control-label" style="color:#28a745;padding-top:10px;">Projet</label>
            <div class="form-inline">
              <input type="text" class="form-control col-sm-6" id="projectId" rows="2" name="nomprojet" placeholder="Nom Du Projet" onkeyup="activerSave();"/>
            </div>
          </div>
          <div class="form-group" >
            <label class="control-label" style="color:#28a745;padding-top:10px;">Question </label>
            <div class="form-inline">
              <input type="text" class="form-control col-sm-6" id="newQuestionText" name="nomQuest" placeholder="Saisissez la question"/>
            </div>

            <div class="form-group">
              <label class="control-label" style="color:#28a745;padding-top:10px;">Nombre de réponses (2-4)</label>
              <div class="form-inline">
                <input type="number" class="form-control col-sm-6" id="nombreReponse" rows="2" name="nombreReponse" placeholder="Nombre de réponses au QCM" onkeyup="activerSave();"/>
              </div>
            </div>

            <button id="addNewQuesBtnId" type="button" style="display:block;margin:auto;" class="btn btn-outline-success">
              Valider la question
            </button>

            <hr>
            <div class="alert alert-danger" role="alert" id="messageReponseSansQuestionError" style="display:none;">Vous devez d'abord créer une question.</div>
            <div class="alert alert-danger" role="alert" id="messageReponseVideError" style="display:none;">Veuillez ajouter le texte de votre réponse.</div>
            <div class="alert alert-danger" role="alert" id="messageRetourVocalVideError" style="display:none;">Veuillez ajouter le texte de votre retour vocal.</div>
            <div class="alert alert-danger" role="alert" id="messageReponseExistError" style="display:none;">Cette réponse existe déjà.</div>
            <div class="alert alert-danger" role="alert" id="messageReponseMaxError" style="display:none;">Le maximum de réponses est atteint.</div>
            <div class="form-group" id="zoneReponse">
              <table>
                <tr>
                  <td>
                    <label class="control-label" style="color:#28a745;padding-top:10px;">Identifiant réponse :</label>
                  </td>
                  <td>
                    <div class="form-inline">
                      <input type='text' class="form-control col-sm-11" id="newReponseText" placeholder="Saisissez l'identifiant de la réponse"/>
                    </div>
                  </td>
                  <td>
                    <div id="bonneRepCheckBox" style="margin-top:15px;"><input id="isBonneRepCheckBox" type="checkbox" /> <label for="isBonneRepCheckBox"><em style='color:gray'>Cochez si c'est la bonne réponse</em></label></div>
                  </td>
                </tr>
                <tr>
                  <td style='width: 115px;'>
                    <label class="control-label" style="color:#28a745;padding-top:10px;">Retour vocal :</label>
                  </td>
                  <td>
                    <div class="form-inline">
                      <input type='text' class="form-control col-sm-11" id="newReponseVocalText" placeholder="Saisissez la réponse vocale" maxlength="49"/>
                    </div>
                  </td>
                  <td>
                    <button id="addNewRep" type="button" class="btn btn-outline-success" style="margin-left:50px;margin-bottom:15px;">Ajouter réponse</button>
                  </td>
                </tr>

              </table>
            </div>
            <hr>
            <div id="questionsDivLabelsId" class="form-group">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer form-inline">
      <div class="card col-md-auto "  >
        <button type="reset" style="margin-top:10px" class="btn btn-outline-success btn-unique-xl" onclick="deleteQuestion()">
          <i class="fa fa-undo"></i>&nbsp;&nbsp;Réinitialiser
        </button>
      </div>
      <div class="card col-md-auto">
        <button type="button" class="btn btn-outline-success btn-unique-xl " id="importProjectBtnId">
          <i class="fa fa-upload"></i>&nbsp;&nbsp;Importer un projet existant
        </button>
        <button type="button" style="margin-top:10px" class="btn btn-outline-success btn-unique-xl" id="saveQRCode" disabled>
          <i class="fa fa-download"></i>&nbsp;&nbsp;Exporter
        </button>
      </div>

    </div>
  </form>
</div>
<!--/.Panel-->

<!--Panel -> zone pour afficher le QrCode produit -->
<div class="col-sm-4 card" id="qr-zone">
  <script>
    $("#qr-zone").load("Views/QR-zone.html");
  </script>
</div>

<div class="modal fade" id="confirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Etes vous sûr de vouloir réinitialiser ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-outline-success" data-dismiss="modal" id="emptyFields">OK</button>
      </div>
    </div>
  </div>
</div>