
<!-- contenu page QuesRep -->
<!--Panel-->


<div class="col-sm-12 card">
  <div id="btnInfo">
    <button class="btn btn-outline-success" id="infos-questRep"><i class="fa fa-info-circle"></i></button>
  </div>
  <div class="text-center" id="textPresentation">
      Création de QR Code Exercice.<br>
      Les exercices permettent de prendre connaissance des réponses avant validation.<br>
      Plusieurs réponses peuvent être acceptées !
  </div >
  <form id="formulaireQesRep" onsubmit="return false;">
    <div class="card-body">
      <h6 class="card-title"></h6>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#newProject">QR - Exercice </a>
        </li>

      </ul>
    <div style=" margin-top:15px;">
      <div id="newProject" class="tab-pane fade in active show" role="tabpanel">
        <div class="form-group">
          <table rowspan="0">
            <tr>
              <td>
                  <label class="control-label col-md-auto  " style="color:#28a745;padding-top:5px;">Question  &nbsp;&nbsp;&nbsp; </label>
              </td>
              <td>
                <div class="form-inline">
                  <input type='text' class="form-control col-sm-14" id="newQuestionText" onkeyup="activerSave('newQuestionText');" name="nomQuest" placeholder="Saisissez la question"/>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <label class="control-label col-md-auto  " style="color:#28a745;padding-top:5px;">Message Bonne réponse  &nbsp; </label>
              </td>
              <td >
                <div class="form-inline">
                    <input type='text' class="form-control col-sm-14" id="newBonneReponseText" name="nomQuest" onkeyup="activerSave('newBonneReponseText');" placeholder="Saisissez la bonne réponse"/>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <label class="control-label col-md-auto " style="color:#28a745;padding-top:10px"> Message Mauvaise réponse &nbsp; </label>
              </td>
              <td >
                <div class="form-inline">
                  <input type='text' class="form-control col-sm-14" id="newMauvaiseReponseText" name="nomQuest" onkeyup="activerSave('newMauvaiseReponseText');" placeholder="Saisissez la mauvaise réponse"/>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <label class="control-label col-md-auto " style="color:#28a745;padding-top:10px;">Nombre de bonne réponse &nbsp; </label>
              </td>
              <td >
                <div class="form-inline">
                  <input type='number' class="form-control col-sm-14" id="newNbMinimalBonneReponse" name="nomQuest" onkeyup="activerSave('newNbMinimalBonneReponse');" placeholder="Nombre minimal de bonne reponse" min="1" />
                </div>
              </td>
            </tr>
            <tr>
              <td>
              </td>
              <td>
                <button type="submit" style="margin-top:10px" class="btn btn-outline-success " id="genererQestion" >
                  <i class="fa fa-cogs"></i>&nbsp;&nbsp; Créer l'exercice
                </button>
              </td>
            </tr>
          </table>
        </div>

        <div class="tab-content scrollbar-success" id="dropZone" style="height:300px; overflow-y: scroll; margin-top:15px;">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#newProject"> Bonne(s) Reponse(s) </a>
            </li>
          </ul>
          <div id="texte" class="tab-pane fade in active show">

                <div class="form-group">
                    <div class="col-sm-10">
                        <div id="cible">

                        </div>
                    </div>
                </div>

            </div>
            <div id="txtZone" class="tab-pane fade in active show ">
            </div>
        </div>

        </div>
      </div>
    </div>
    <div class="card-footer form-inline">
      <div class="card col-md-auto ">
        <button  type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#dialogAjoutReponse" id= "ajoutNewReponse" disabled ><i class="fa fa-plus-square"  ></i>&nbsp;&nbsp;Ajouter réponse</button>
        <button style="margin-top:10px" class="btn btn-outline-success" data-toggle="modal" id="emptyZones" data-target="#confirmation"><i class="fa fa-undo"></i>&nbsp;&nbsp;Réinitialiser</button>
      </div>
      <div class="card col-md-auto">
        <button  type="button" class="btn btn-outline-success " id="saveQRCode" disabled>
          <i class="fa fa-download"></i>&nbsp;&nbsp;Exporter
        </button>
        <button type="submit" style="margin-top:10px" class="btn btn-outline-success " id="preview" disabled >
          <i class="fa fa-cogs"></i>&nbsp;&nbsp; Générer
        </button>
      </div>
    </div>
  </form>

</div>


<!--/.Panel-->

<!--Panel -> zone pour afficher le QrCode produit -->
<div class="col-sm-4 card" id="qr-zone">
    <script>
        $("#qr-zone").load("Views/QR-zone.html");
    </script>
</div>

<!-- debut fenetre  pour ajouter nouvelle reponse  -->
<div class="modal fade" id="dialogAjoutReponse" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" align="right" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table>
          <tr>
            <td>
              <label class="control-label" style="color:#28a745;padding-top:10px;">Nom QR Code</label>
            </td>
            <td>
              <div class="form-inline">
                  <input type="text" class="form-control col-sm-12" id="newId" placeholder="Saisissez identifiant ">
              </div>
            </td>
            </tr>
            <tr>
              <td>
                <label class="control-label" style="color:#28a745;padding-top:10px;">Contenu QR Code</label>
              </td>
              <td>
                <div class="form-inline">
                    <input type="text" class="form-control col-sm-12" id="newContenuVocal" placeholder="Saisissez contenu vocal">
                </div>
              </td>
            </tr>

        </table>

      </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" id="fermeSansEnregistrer">Annuler</button>
      <button type="button" class="btn btn-outline-success" data-dismiss="modal" id="validerDataDialog">Valider</button>
    </div>
  </div>
</div>
</div>
<!-- fin fenetre pour ajouter nouvelle reponse  -->
<!--Début Modal-1 -->
<div class="modal fade" id="confirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Etes vous sûr de vouloir réinitialiser ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-outline-success" data-dismiss="modal" id="emptyFields">OK</button>
      </div>
    </div>
  </div>
</div>
<!--Fin Modal-1-->


<div class="modal" id="errorModalQuestion" role="dialog">
  <div class="modal-dialog" role="document"><div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Erreur</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
        <p>Veuillez d'abord saisir une question</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="">OK</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="errorModalBReponse" role="dialog">
  <div class="modal-dialog" role="document"><div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Erreur</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
        <p>Veuillez saisir le message de bonne réponse à la question</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="">OK</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="errorModalMReponse" role="dialog">
  <div class="modal-dialog" role="document"><div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Erreur</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
        <p>Veuillez saisir le message de mauvaise réponse à la question</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="">OK</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="errorModalNombreReponse" role="dialog">
  <div class="modal-dialog" role="document"><div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Erreur</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
        <p>Veuillez saisir le nombre de bonne reponse minimum</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="">OK</button>
      </div>
    </div>
  </div>
</div>


<!-- Js pour la parti des question et reponse l -->
<script src="./js/script_question_reponse.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>