<script src="js/script_serious_game.js"></script>
<!-- contenu page QuesRep -->
<!--Panel-->

<div class="col-sm-12 card">
    <div class="text-center" id="textPresentation">
        Création de QR Code Serious Game.<br>
        Jeu à but pédagogique. <br />
        Les réponses attendues peuvent être à reconnaisance vocale, scan de QR Code, ...
    </div>
    <div class="alert alert-success" role="alert" id="alertExportationOk" style="display:none;"> Votre projet a bien été
        enregistré. </div>
    <div class="alert alert-danger" role="alert" id="alertQuestionVideError" style="display:none;"> Veuillez saisir le
        texte lié à votre jeu. </div>
    <div class="alert alert-danger" role="alert" id="alertNombreReponseVideError" style="display:none;"> Veuillez saisir
        un nombre de réponses correct. </div>
    <div class="alert alert-danger" role="alert" id="alertQuestionExistError" style="display:none"> La question existe
        déjà. </div>
    <form id="formulaireQCM" onsubmit="return false;">
        <div class="card-body">
            <h6 class="card-title"></h6>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#newProject">QR - Serious Game</a>
                </li>
            </ul>

            <div class="tab-content scrollbar-success" style="height:600px; overflow-y: scroll; margin-top:15px;">
                <div id="newProject" class="tab-pane fade in active show" role="tabpanel">

                    <div class="form-group">
                        <div class="form-inline">
                            <label class="control-label" style="color:#28a745;padding-top:10px;padding-right:32px;">Nom
                                du jeu :
                            </label>
                            <input type="text" class="form-control col-sm-6" id="projectId" rows="2" name="nomprojet"
                                placeholder="Nom du Serious Game" onkeyup="activerSave();" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-group">
                            <div class="form-inline">
                                <label class="control-label"
                                    style="color:#28a745;padding-top:10px;padding-right:27px;">Introduction : </label>
                                <textarea rows="4" cols="60"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-inline" class="col-sm-6">
                                <label class="control-label"
                                    style="color:#28a745;padding-top:10px;padding-right:54px;">Enigme 1 : </label>
                                <input type="text" class="form-control" id="enigme1" name="nombreReponse"
                                    placeholder="Détails sur l'énigme 1" onkeyup="activerSave();" />
                                <label class="control-label"
                                    style="color:#28a745;padding-top:10px;padding-right:10px; padding-left:20px;">Type
                                    d'énigme : </label>
                                <button type="button" id="scanQR1" type="button"
                                    class="btn btn-outline-success align-self-center">
                                    <i class="fa fa-qrcode"></i>&nbsp;&nbsp;QR CODE</button>&nbsp;
                                <button id="recVocale1" type="button" class="btn btn-outline-success align-self-center">
                                    <i class="fa fa-microphone"></i>&nbsp;&nbsp;Reconnaissance vocale</button>&nbsp;
                                <button id="deleteType1" type="button"
                                    class="btn btn-outline-success align-self-center">
                                    <i class="fa fa-trash"></i></button>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-inline" class="col-sm-6">
                                <label class="control-label"
                                    style="color:#28a745;padding-top:10px;padding-right:51px;">Enigme 2 : </label>
                                <input type="text" class="form-control" id="enigme2" rows="2" name="nombreReponse"
                                    placeholder="Détail sur l'éngime 2" onkeyup="activerSave();" />
                                <label class="control-label"
                                    style="color:#28a745;padding-top:10px;padding-right:10px; padding-left:20px;">Type
                                    d'énigme : </label>
                                <button type="button" id="scanQR2" type="button"
                                    class="btn btn-outline-success align-self-center">
                                    <i class="fa fa-qrcode"></i>&nbsp;&nbsp;QR CODE</button>&nbsp;
                                <button id="recVocale2" type="button" class="btn btn-outline-success align-self-center">
                                    <i class="fa fa-microphone"></i>&nbsp;&nbsp;Reconnaissance vocale</button>&nbsp;
                                <button id="deleteType2" type="button"
                                    class="btn btn-outline-success align-self-center">
                                    <i class="fa fa-trash"></i></button>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-inline" class="col-sm-6">
                                <label class="control-label"
                                    style="color:#28a745;padding-top:10px;padding-right:51px;">Enigme 3 : </label>
                                <input type="text" class="form-control" id="enigme3" rows="2" name="nombreReponse"
                                    placeholder="Détail sur l'énigme 3" onkeyup="activerSave();" />
                                <label class="control-label"
                                    style="color:#28a745;padding-top:10px;padding-right:10px; padding-left:20px;">Type
                                    d'énigme : </label>
                                <button type="button" id="scanQR3" type="button"
                                    class="btn btn-outline-success align-self-center">
                                    <i class="fa fa-qrcode"></i>&nbsp;&nbsp;QR CODE</button>&nbsp;
                                <button id="recVocale3" type="button" class="btn btn-outline-success align-self-center">
                                    <i class="fa fa-microphone"></i>&nbsp;&nbsp;Reconnaissance vocale</button>&nbsp;
                                <button id="deleteType3" type="button"
                                    class="btn btn-outline-success align-self-center">
                                    <i class="fa fa-trash"></i></button>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-inline">
                                <label class="control-label"
                                    style="color:#28a745;padding-top:10px;padding-right:100px;">Fin : </label>
                                <textarea rows="4" cols="60"></textarea>
                            </div>
                        </div>

                        <!--<hr>
                        <div class="alert alert-danger" role="alert" id="messageReponseSansQuestionError"
                            style="display:none;">Vous devez d'abord créer une question.</div>
                        <div class="alert alert-danger" role="alert" id="messageReponseVideError" style="display:none;">
                            Veuillez ajouter le texte de votre réponse.</div>
                        <div class="alert alert-danger" role="alert" id="messageRetourVocalVideError"
                            style="display:none;">Veuillez ajouter le texte de votre retour vocal.</div>
                        <div class="alert alert-danger" role="alert" id="messageReponseExistError"
                            style="display:none;">Cette réponse existe déjà.</div>
                        <div class="alert alert-danger" role="alert" id="messageReponseMaxError" style="display:none;">
                            Le maximum de réponses est atteint.</div>

                        <div class="form-group" id="zoneReponse">
                            <table>
                                <tr>
                                    <td>
                                        <label class="control-label" style="color:#28a745;padding-top:10px;">Identifiant
                                            réponse :</label>
                                    </td>
                                    <td>
                                        <div class="form-inline">
                                            <input type='text' class="form-control col-sm-11" id="newReponseText"
                                                placeholder="Saisissez l'identifiant de la réponse" />
                                        </div>
                                    </td>
                                    <td>
                                        <div id="bonneRepCheckBox" style="margin-top:15px;"><input
                                                id="isBonneRepCheckBox" type="checkbox" /> <label
                                                for="isBonneRepCheckBox"><em style='color:gray'>Cochez si c'est la bonne
                                                    réponse</em></label></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style='width: 115px;'>
                                        <label class="control-label" style="color:#28a745;padding-top:10px;">Retour
                                            vocal :</label>
                                    </td>
                                    <td>
                                        <div class="form-inline">
                                            <input type='text' class="form-control col-sm-11" id="newReponseVocalText"
                                                placeholder="Saisissez la réponse vocale" maxlength="49" />
                                        </div>
                                    </td>
                                    <td>
                                        <button id="addNewRep" type="button" class="btn btn-outline-success"
                                            style="margin-left:50px;margin-bottom:15px;">Ajouter réponse</button>
                                    </td>
                                </tr>

                            </table>
                        </div>-->

                        <hr>
                        <div id="questionsDivLabelsId" class="form-group">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer form-inline">
            <div class="card col-md-auto ">
                <button type="reset" style="margin-top:10px" data-toggle="modal" class="btn btn-outline-success btn-unique-xl"
                     data-target="#confirmation">
                    <i class="fa fa-undo"></i>&nbsp;&nbsp;Réinitialiser
                </button>
            </div>
            <div class="card col-md-auto">
                <button type="button" class="btn btn-outline-success btn-unique-xl " id="importProjectBtnId">
                    <i class="fa fa-upload"></i>&nbsp;&nbsp;Importer un projet existant
                </button>
                <button type="button" style="margin-top:10px" class="btn btn-outline-success btn-unique-xl"
                    id="saveQRCode" disabled>
                    <i class="fa fa-download"></i>&nbsp;&nbsp;Exporter
                </button>
            </div>
        </div>
    </form>
</div>
<!--/.Panel-->

<div class="modal fade" id="confirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Etes vous sûr de vouloir réinitialiser ?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-outline-success" data-dismiss="modal" id="emptyFields" onclick="deleteGame()">OK</button>
        </div>
      </div>
    </div>
  </div>

<!--Panel -> zone pour afficher le QrCode produit -->
<div class="col-sm-4 card" id="qr-zone">
    <script>
        $("#qr-zone").load("Views/QR-zone.html");
    </script>
</div>