<!-- contenu page Serious Game -->
<!--Panel-->
<div class="col-sm-12 card">
    <div class="text-center" id="textPresentation">
        Création de QR Code Serious Game.<br>
        Jeu à but pédagogique. <br />
        Les réponses attendues peuvent être à reconnaisance vocale, scan de QR Code, ...
    </div>
    <div class="alert alert-success" role="alert" id="alertExportationOk" style="display:none;"> Votre projet a bien été
        enregistré. </div>
    <div class="alert alert-danger" role="alert" id="alertQuestionVideError" style="display:none;"> Veuillez saisir le
        texte lié à votre jeu. </div>
    <div class="alert alert-danger" role="alert" id="alertNombreReponseVideError" style="display:none;"> Veuillez saisir
        un nombre de réponses correct. </div>
    <div class="alert alert-danger" role="alert" id="alertQuestionExistError" style="display:none"> La question existe
        déjà. </div>
    <form id="formulaireQCM" onsubmit="return false;">
        <div class="card-body">
            <h6 class="card-title"></h6>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#newProject">QR - Serious Game</a>
                </li>
            </ul>
            <div class="tab-content scrollbar-success" style="height:600px; overflow-y: scroll; margin-top:15px;">
                <div id="newProject" class="tab-pane fade in active show" role="tabpanel">

                    <div class="form-group">
                        <div class="form-inline">
                            <label class="control-label" style="color:#28a745;padding-top:10px;padding-right:32px;">Nom
                                du jeu :
                            </label>
                            <input type="text" class="form-control col-sm-6" id="projectId" rows="2" name="nomprojet"
                                placeholder="Nom du Serious Game" onkeyup="activerSave();" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-group">
                            <div class="form-inline">
                                <label class="control-label"
                                    style="color:#28a745;padding-top:10px;padding-right:27px;">Introduction : </label>
                                <textarea id="textAreaIntro" rows="4" cols="45"></textarea>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" id="addAudioIntro" class="btn btn-outline-success btn-unique-xl  "
                                    name="ajouterSon" data-toggle="modal" data-target="#listeMusic">
                                    <i class="fa fa-music"></i>&nbsp;&nbsp;Audio
                                </button>
                                <button id="deleteAudioIntro" type="button" onclick=""
                                    class="btn btn-outline-success align-self-center"><i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>

                        <div id="containerEnigme">
                        </div>

                        <div class="form-group">
                            <label for="ajouterEnigme" style="color:#a5b2af;">Ajouter une énigme</label>
                            <button id="ajouterEnigme" type="button" class="btn btn-outline-success align-self-center"
                                style="color:#a5b2af;" name="ajouterQuestion">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </div>

                        <div class="form-group">
                            <div class="form-inline">
                                <label class="control-label"
                                    style="color:#28a745;padding-top:10px;padding-right:100px;">Fin : </label>
                                <textarea id="textAreaFin" rows="4" cols="45"></textarea>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" id="addAudioFin" class="btn btn-outline-success btn-unique-xl  "
                                    name="ajouterSon" data-toggle="modal" data-target="#listeMusic">
                                    <i class="fa fa-music"></i>&nbsp;&nbsp;Audio
                                </button>
                                <button id="deleteAudioFin" type="button" onclick=""
                                    class="btn btn-outline-success align-self-center"><i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>
                        <hr>
                        <div id="questionsDivLabelsId" class="form-group">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer form-inline">
            <div class="card col-md-auto ">
                <button type="submit" style="margin-top:10px" class="btn btn-outline-success btn-unique-xl"
                    id="generateSG">
                    <i class="fa fa-cogs"></i>&nbsp;&nbsp;Générer
                </button>
                <button type="reset" style="margin-top:10px" class="btn btn-outline-success btn-unique-xl"
                    onclick="deleteGame()">
                    <i class="fa fa-undo"></i>&nbsp;&nbsp;Réinitialiser
                </button>
            </div>
            <div class="card col-md-auto">
                <button type="button" class="btn btn-outline-success btn-unique-xl " id="importProjectBtnId">
                    <i class="fa fa-upload"></i>&nbsp;&nbsp;Importer un projet existant
                </button>
                <button type="button" style="margin-top:10px" class="btn btn-outline-success btn-unique-xl"
                    id="saveQRCode" disabled>
                    <i class="fa fa-download"></i>&nbsp;&nbsp;Exporter
                </button>
            </div>
        </div>
    </form>
</div>
<!--/.Panel-->

<!--Modal Popup QRCode-->
<div class="modal fade bd-example-modal-lg" id="popupQRCode" tabindex="-1" role="dialog" data-backdrop="static"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="dialog" style="max-width: 53% !important">
        <div class="modal-content" style="padding: 20px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">QR Code</h5>
                <button type="button" class="close" id="closeModalQRCode" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="row">
                <div class="col-lg-12 form-inline">
                    <label class="control-label" style="color:#28a745;padding-right:32px;">Question :</label>
                    <input type="text" class="form-control input-lg" style="width:700px;" id="questRecVocal" cols="10"
                        name="nomprojet" placeholder="Saisissez votre question" onkeyup="activerSave();" />
                    <button type="button" id="addAudioFin" class="btn btn-outline-success btn-unique-xl  "
                        name="ajouterSon" data-toggle="modal" data-target="#listeMusic">
                        <i class="fa fa-music"></i>&nbsp;&nbsp;Audio
                    </button>
                    <button id="deleteAudioQRCode" type="button" onclick=""
                        class="btn btn-outline-success align-self-center"><i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
            <hr>
            <div class="form-row">
                <div class="form-group col-md-6" id="labelBonneReponse">
                    <label>&nbsp;&nbsp;&nbsp;&nbsp;Bonne réponse :</label>
                </div>
            </div>
            <div id="repContainer">
            </div>
            <hr>
            <div class="form-group col-md-4">
                <label for="ajouterQuestion" style="color:#a5b2af;">Ajouter une réponse</label>
                <button id="ajouterQuestion" type="button" class="btn btn-outline-success align-self-center"
                    style="color:#a5b2af;" name="ajouterQuestion">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-dismiss="modal"
                    id="cancelQRCode">Annuler</button>
                <button type="button" class="btn btn-outline-success" id="addQRCode">Valider</button>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Fin Modal Popup QRCode -->

<!-- Modal Popup RecVocale -->
<div class="modal fade" id="popupRecVocale" tabindex="-1" role="dialog" data-backdrop="static"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="dialog" style="max-width: 40% !important">
        <div class="modal-content" style="padding: 20px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Reconnaissance Vocale</h5>
                <button type="button" class="close" id="closeModalQRCode" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="form-group">
                <div class="col-lg-12 form-inline">
                    <label class="control-label" style="color:#28a745;padding-right:32px;">Question :</label>
                    <input type="text" class="form-control input-lg" style="width:1450px;" id="questRecVocal" cols="10"
                        name="nomprojet" placeholder="Saisissez votre question" onkeyup="activerSave();" />
                </div>
                <hr>
                <div class="col-lg-12 form-inline">
                    <label class="control-label" style="color:#28a745;padding-right:32px;">Réponse :</label>
                    <input type="text" class="form-control input-lg" style="width:1450px;" id="repRecVocal" cols="10"
                        name="nomprojet" placeholder="Saisissez votre question" onkeyup="activerSave();" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-dismiss="modal"
                    id="cancelRecVocal">Annuler</button>
                <button type="button" class="btn btn-outline-success" id="addRecVocal">Valider</button>
            </div>
        </div>
    </div>
</div>
<!-- Fin Modal Popup RecVocale -->

<!-- Modal Popup Fichier audio -->
<div class="modal fade" id="listeMusic" tabindex="-1" role="dialog" data-backdrop="static"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Ajouter un fichier audio</h5>
                <button type="button" class="close" id="closeModalListeMusic" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body scrollbar-success">
                <div class="list-group" id="elementsAudio">
                    <div class="form-group">

                        <label class="col-sm-12 control-label" style="color:#28a745;padding-top:10px;">Veuillez copier
                            et coller le
                            lien téléchargeable du fichier audio</label>
                        <div class="col-sm-12">
                            <input type="text" id="musicUrl" name="musicUrl" class="form-control"
                                onpaste="getMusicFromUrl()">
                        </div>
                        <br>
                        <button type="button" class="btn btn-outline-success" id="showInfo" title="Afficher aide">
                            <i class="fa fa-info-circle"></i>
                        </button>

                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" id="addMusic">Valider</button>
      </div> -->
        </div>
    </div>
</div>
<!-- Fin Modal Popup Fichier Audio -->

<!--Panel -> zone pour afficher le QrCode produit -->
<div class="col-sm-4 card" id="qr-zone">
    <script>
        $("#qr-zone").load("Views/QR-zone.html");
    </script>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="./js/script_serious_game.js"></script>
<link rel="stylesheet" href="./assets/css/qrludo.css">