<!-- contenu page unique -->
<!--Panel-->
<div class="col-sm-8 card">
  <form id="myFormActive" onsubmit="return false;">
    <div class="card-body">
      <!-- Messages Infos -->
      <div id="messages">

      </div>
      <!-- Fin Messages -->

      <h6 class="card-title"></h6>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#texte">QR - Unique</a>
        </li>
      </ul>

      <div class="tab-content scrollbar-success" style="height:370px; overflow-y: scroll; margin-top:15px;">
        <div id="texte" class="tab-pane fade in active show">
          <h3></h3>
          <div class="form-group">
            <label class="col-sm-12 control-label" style="color:#28a745;padding-top:10px;">Nom du QR Code</label>
            <div class="col-sm-7">
              <input type="text" id="qrName" name="NomQR" class="form-control" onkeyup="activer_button(this.value);">
            </div>
            <!-- le type du QRCode, ici -> XL -->
            <input id="typeQRCode" name="typeQRCode" type="hidden" value="xl">
          </div>
          <div class="form-group">
            <div class="col-sm-10">
              <div id="cible">
                <div class="d-flex align-items-start legendeQR" id="legendeTextarea">
                  <svg class="svg-inline--fa fa-play fa-w-14 align-self-center icon-player" aria-hidden="true" data-prefix="fa" data-icon="play" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                    <path fill="currentColor" d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z"></path>
                  </svg><!-- <i class="fa fa-play align-self-center icon-player"></i> -->
                  <svg class="svg-inline--fa fa-pause fa-w-14 align-self-center icon-player" aria-hidden="true" data-prefix="fa" data-icon="pause" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                    <path fill="currentColor" d="M144 479H48c-26.5 0-48-21.5-48-48V79c0-26.5 21.5-48 48-48h96c26.5 0 48 21.5 48 48v352c0 26.5-21.5 48-48 48zm304-48V79c0-26.5-21.5-48-48-48h-96c-26.5 0-48 21.5-48 48v352c0 26.5 21.5 48 48 48h96c26.5 0 48-21.5 48-48z"></path>
                  </svg><!-- <i class="fa fa-pause align-self-center icon-player"></i> -->
                  <textarea id="textarea1" class="form-control qrData" rows="3" name="legendeQR" placeholder="Mettre la légende (255 caractères maximum)" maxlength="255" onkeyup="verifNombreCaractere(3);"></textarea>
                  <button type="button" class="btn btn-outline-success align-self-center legendeQR-close-btn" disabled="true" onclick="supprimerChampLegende(this);">
                    <div class="inline-block">
                      <svg class="svg-inline--fa fa-trash-alt fa-w-14" aria-hidden="true" data-prefix="fa" data-icon="trash-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                        <path fill="currentColor" d="M0 84V56c0-13.3 10.7-24 24-24h112l9.4-18.7c4-8.2 12.3-13.3 21.4-13.3h114.3c9.1 0 17.4 5.1 21.5 13.3L312 32h112c13.3 0 24 10.7 24 24v28c0 6.6-5.4 12-12 12H12C5.4 96 0 90.6 0 84zm416 56v324c0 26.5-21.5 48-48 48H80c-26.5 0-48-21.5-48-48V140c0-6.6 5.4-12 12-12h360c6.6 0 12 5.4 12 12zm-272 68c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208zm96 0c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208zm96 0c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208z"></path>
                      </svg><!-- <i class="fa fa-trash-alt"></i> -->
                    </div>
                  </button>
                  <button type="button" class="btn btn-outline-success align-self-center legendeQR-close-btn" disabled="true" onclick="moveUp(this);">
                        <svg class="svg-inline--fa fa-arrow-up fa-w-14" aria-hidden="true" data-prefix="fa" data-icon="arrow-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M34.9 289.5l-22.2-22.2c-9.4-9.4-9.4-24.6 0-33.9L207 39c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9L413 289.4c-9.5 9.5-25 9.3-34.3-.4L264 168.6V456c0 13.3-10.7 24-24 24h-32c-13.3 0-24-10.7-24-24V168.6L69.2 289.1c-9.3 9.8-24.8 10-34.3.4z"></path>
                        </svg><!-- <i class="fa fa-arrow-up"></i> -->
                  </button>
                  <button type="button" class="btn btn-outline-success align-self-center legendeQR-close-btn" disabled="true" onclick="moveDown(this);">
                    <svg class="svg-inline--fa fa-arrow-down fa-w-14" aria-hidden="true" data-prefix="fa" data-icon="arrow-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M413.1 222.5l22.2 22.2c9.4 9.4 9.4 24.6 0 33.9L241 473c-9.4 9.4-24.6 9.4-33.9 0L12.7 278.6c-9.4-9.4-9.4-24.6 0-33.9l22.2-22.2c9.5-9.5 25-9.3 34.3.4L184 343.4V56c0-13.3 10.7-24 24-24h32c13.3 0 24 10.7 24 24v287.4l114.8-120.5c9.3-9.8 24.8-10 34.3-.4z"></path>
                    </svg><!-- <i class="fa fa-arrow-down"></i> -->
                  </button>
                </div>

              </div>
              <div class="ajoutZoneTexte" align="right" >
                <button style="margin-top:10px" type="button" class="btn btn-outline-success btn-unique-xl" name="ajouterTexte" id="ajouterTexte" onclick="ajouterChampLegende();">
                  <i class="fa fa-file-alt"></i>&nbsp;&nbsp;Ajouter Nouveau contenu
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="card-footer form-inline">
      <div class="card col-md-auto "  >
        <button type="button" id="showAudio" class="btn btn-outline-success btn-unique-xl  " name="ajouterSon" data-toggle="modal" data-target="#listeMusic">
          <i class="fa fa-music"></i>&nbsp;&nbsp;Audio
        </button>
        <button type="reset" style="margin-top:10px" class="btn btn-outline-success btn-unique-xl  " id="annuler">
          <i class="fa fa-sync"></i>&nbsp;&nbsp;Tout supprimer
        </button>
      </div>
      <div class="card col-md-auto">
        <button type="button" class="btn btn-outline-success btn-unique-xl " id="saveQRCode" disabled>
          <i class="fa fa-download"></i>&nbsp;&nbsp;Exporter
        </button>
        <button type="submit" style="margin-top:10px" class="btn btn-outline-success btn-unique-xl" id="preview">
          <i class="fa fa-cogs"></i>&nbsp;&nbsp;Générer
        </button>
      </div>


    </div>
  </form>
</div>
<!--/.Panel-->

<!--Panel -> zone pour afficher le QrCode produit -->
<div class="col-sm-4 card" id="qr-zone">
  <script>
    $("#qr-zone").load("Views/QR-zone.html");
                    </script>
</div>
<!--/.Panel-->

<!-- Modal-1 -> pour generer le fichier .json et le sauvegarder dans un drive -->
<div class="modal fade" id="sauvegarderFichierJson" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">QR-Code Unique</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning" role="alert" id="alertTaille">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-outline-success" id="sauvegarderQRcode">Sauvegarder</button>
      </div>
    </div>
  </div>
</div>
<!-- Fin Modal-1 -->


<!-- Modal-2 -> Fichier audio -->
<div class="modal fade" id="listeMusic" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Ajouter un fichier audio</h5>
        <button type="button" class="close" id="closeModalListeMusic" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body scrollbar-success">
        <div class="list-group" id="elementsAudio">
          <div class="form-group">

            <label class="col-sm-12 control-label" style="color:#28a745;padding-top:10px;">Veuillez copier et coller le lien téléchargeable du fichier audio</label>
            <div class="col-sm-12">
              <input type="text" id="musicUrl" name="musicUrl" class="form-control" onpaste="getMusicFromUrl()">
            </div>
            <br>
            <button type="button" class="btn btn-outline-success" id="showInfo" title="Afficher aide">
              <i class="fa fa-info-circle"></i>
            </button>

          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" id="addMusic">Valider</button>
      </div> -->
    </div>
  </div>
</div>
<!-- Fin Modal-2 -->


<!-- fin contenu page unique -->

<!-- Js pour les QR de type unique xl -->
<script type="text/javascript" src="./js/script_unique.js"></script>
<!-- <script type="text/javascript" src="./js/scripts_xl.js"></script> -->
